<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/add-product.css">
</head>

<body>
    <%- include('../include/navigation.ejs') %>
    <main>
        <form class="product-form" action="add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">Add product</button>
        </form>
    </main>




<%- include('../include/end.ejs') %>